

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin:0 10%;
}

.header-logo {
  margin-right: 1%;
}

.header-menu {
  display: flex;
  align-items: center;
}


.header-dropdown,
.header-button {
  border: none;
  margin-left: 10px;
  background-color: white;
  color: pink;
}

.header-divider {
  border: 0;
  border-top: 1px solid gray;
  margin: 20px 0;
}
